html {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {;
    height: 100%;
    font: 12px Verdana, Helvetica, Arial, sans-serif;
    background-color: #333333;
    margin: 0px;
    padding: 0px;
}

/* [ html ]---------------------------------------------------------------- */

form {
    margin: 0px;
    padding: 0px;
}

img {
    border: 0;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
}

h1 {
	font-size: 140%;
    font-family: Verdana, helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #ffffff;
    margin: 5px 0px 5px 0px;
}

h2 {
    font-size: 130%;
    font-family: Verdana, helvetica, Arial, sans-serif;
    color: #ffffff;
    margin: 5px 0px 5px 0px;
}

h3 {
    font-size: 120%;
    font-family: Verdana, helvetica, Arial, sans-serif;
    font-style: italic;
    color: #dddddd;
    margin: 3px 0px 5px 0px;
}

h4 {
    font-size: 110%;
    font-family: Verdana, helvetica, Arial, sans-serif;
    color: #dddddd;
    margin: 3px 0px 5px 0px;
}

/* [ layout ]---------------------------------------------------------------- */

div#layoutWrapper {
    height: 100%;
    text-align: center;
}

div#layoutContainer   {
    width: 964px;
    height: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    background: url(../@@/img/layoutBG.gif) repeat left top;
}

#contentContainer {
    width: 100%;
    background-color: #77746B;
    padding: 0;
}

#content {
    background-color: #77746B;
    padding: 0;
}

#section {
    padding: 0;
}

.infoSlot {
    color: #FFDD1A;
    padding: 0px 5px 10px 5px;
}

/* [ header ]-------------------------------------------------------------- */

div#headerContainer {
    width: 974px;
    height: 135px;
    text-align: left;
    color: #DEDDCA;
    position: relative;
    margin: 0px;
    padding: 0px;
    background: url("../@@/img/headerBG.gif") no-repeat left top;
}

div#logo {
    top: 0px;
    left: 10px;
    width: 344px;
    height: 125px;
    position: absolute;
    cursor: hand;
    padding: 0px;
}

div#user {
    top: 25px;
    right: 10px;
    position: absolute;
    padding: 0px;
}

div#jclock {
    top: 5px;
    right: 10px;
    position: absolute;
    padding: 0px;
}

/* [ breadcrumbs ]---------------------------------------------------------- */

div#breadcrumbs {
    height: 30px;
    color: #DEDDCA;
    font-size: 11px;
    padding: 0px 0px 0px 7px;
    margin: 0px;
}

#breadcrumbs a {
    color: #DEDDCA;
    text-decoration: none;
}

#breadcrumbs a:hover {
    color: #000000;
}

/*---[ add menu ]------------------------------------------------------------*/

#addMenu {
    float: left;
    width: 25px;
    height: 22px;
    background: #333333;
    border-right: 4px solid #77746B;
}

#addMenu:hover {
    background: #FFDD1A;
}

#addMenu a:hover {
    color: black;
}

#addMenu ul {
    display: none;
    width: 190px;
    position: relative;
    border: 0;
}

div#contextMenuContainer #addMenu ul {
    border-top: 1px solid white;
}

div#contextMenuContainer #addMenu ul li {
    display: block;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#addMenu ul li {
    display: block;
    width: 166px;
    white-space: nowrap;
    border-bottom: 1px solid white;
}

#addMenu .topMenu {
    height: 18px;
    padding: 3px 7px 1px 7px;
    text-decoration: none;
    cursor: default;
    display: block;
    position: relative;
    border: 0;
}

/*---[ context menu ]--------------------------------------------------------*/

div#contextMenuContainer {
    height: 22px;
    padding: 0px;
    margin-bottom: 10px;
    background-color: #333333;
}

div#contextMenuContainer a {
    color: white;
    text-decoration: none;
}

div#contextMenuContainer ul {
    margin: 0;
    padding: 0;
}

div#contextMenuContainer ul li {
    float: left;
    height: 18px;
    list-style: none;
    background: #333333;
    border-left: 4px solid #77746B;
    border-right: 4px solid #77746B;
    padding: 3px 7px 1px 7px;
    margin: 0px;
}

div#contextMenuContainer li.selected {
    background: #FFDD1A;
}

div#contextMenuContainer li.selected a {
    color: black;
}

div#contextMenuContainer li:hover {
    background: #FFDD1A;
}

div#contextMenuContainer li:hover a {
    color: black;
}

/*---[ server menu ]---------------------------------------------------------*/

#serverMenu {
    float: right;
    width: 130px;
    height: 22px;
    background: #333333;
    border-left: 4px solid #77746B;
}

#serverMenu:hover {
    background: #FFDD1A;
}

#serverMenu a:hover {
    color: black;
}

#serverMenu ul {
    display: none;
    width: 130px;
    position: relative;
}

div#contextMenuContainer #serverMenu ul {
    border-top: 1px solid white;
}

div#contextMenuContainer #serverMenu ul li {
    display: block;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#serverMenu ul li {
    display: block;
    width: 106px;
    white-space: nowrap;
    border-bottom: 1px solid white;
}

#serverMenu .topMenu {
    height: 18px;
    padding: 3px 11px 1px 11px;
    text-decoration: none;
    cursor: default;
    display: block;
    position: relative;
    border: 0;
}

/*---[ content ]---*/

.content {
    padding: 5px;
}
.white {
    color: white;
}

/*---[ table ]---------------------------------------------------------------*/

table.contents {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

table.contents tr.odd {
    background-color: #8D8A81;
}

table.contents tr.selected {
    background-color: #BCAE98;
}

table.contents th {
    background-color: #FFDD1A;
    padding: 4px 4px 5px 4px;
    text-align: left;
}

table.contents th.sorted-on {
    background-color: #D5CCBD;
}

table.contents th.firstColumnHeader {
    padding: 4px 4px 5px 12px;
}

table.contents td {
    height: 22px;
    font-size: 11px;
    color: white;
    vertical-align: middle;
    padding-left: 5px;
}

table.contents td a {
    color: #FFDD1A;
    padding: 4px 0px 0px 0px;
}

table.contents td a:hover {
    color: white;
}

table.contents .centered {
    text-align: center;
}

table.contents .right {
    text-align: right;
}


/*---[ simple form ]---------------------------------------------------------*/

.simpleForm {
    margin: 0px 5px 20px 5px;
}

/*---[ sub form ]------------------------------------------------------------*/

.subForm {
    margin: 0px 5px 20px 5px;
}
.subForm fieldset {
    border-color: #8D8A81;
    padding: 0px 10px 0px 10px;
}

.subForm legend {
    color: #FFDD1A;
    padding: 0px 5px 0px 5px;
}

.subForm .required-info {
    color: white;
    float: right;
}


/*---[ form ]----------------------------------------------------------------*/

.status {
    color: #FFDD1A;
    font-weight: bold;
    padding: 5px 0px;
}

div.row {
    color: white;
    width: 670px;
    clear: both;
    top: 0px;
    margin: 0;
    padding: 5px 0px 8px 0px;
    padding-left: 255px;
    border-bottom: 1px dashed silver;
}

div.label {
    float: left;
    margin-left: -250px;
    width: 250px;
}

div.widget {
    padding: 0px;
    margin: 0px;
}

.formLabel{
    color: #DEDDCA;
    font-weight: bold;
    padding: 0px 0px 10px 5px;
}

input.file-widget {
    width: 500px;
}

input.password-widget {
    width: 500px;
    border: 1px solid #666666;
}

select.select-widget {
    width: 500px;
    border: 1px solid #666666;
}

input.text-widget {
    width: 500px;
    height: 19px;
    border: 1px solid #666666;
}

textarea.textarea-widget {
    width: 500px;
    height: 100px;
}

textarea.sourcetext-field {
    width: 600px;
    height: 600px;
    /*white-space: nowrap;*/
    white-space: pre; overflow: auto;
}

.buttons {
    padding: 10px 0px 3px 0px;
}

.tableButtons {
    padding: 20px 5px 20px 5px;
}
.tableButtonRight {
    float: right;
}
.tableButtonLeft div.label {
    color: #000000;
    float: left;
    width: 80px;
    padding: 5px;
    margin: 0;
}
.tableButtonLeft div.widget {
    padding: 0px;
    float: left;
}

.button-field {
    cursor: pointer;
    padding: 1px 3px 1px 3px;
    border: outset 1px silver;
    background: white url(../@@/img/tbnBG.gif) repeat-x left top;
}

div.tableButtonLeft input.button-field {
    background: white url(../@@/img/tbnLeftBG.gif) repeat-x left top;
}

div.tableButtonRight input.button-field {
    color: #666666;
    background: white url(../@@/img/tbnRightBG.gif) repeat-x left top;
}

.batch {
    background-color: #FFDD1A;
    padding: 3px 10px 3px 10px;
}

.redBack {
    background-color: red;
}


/*---[ multi widget, remove this after form 2.0.0 get used ]-----------------*/

div.multi-widget {
    width: 400px;
}

div.multi-widget div.multi-widget-checkbox {
    float: left
}

div.multi-widget div.row {
    color: white;
    width: 400px;
    clear: both;
    top: 0px;
    margin: 0;
    padding: 0px 0px 5px 0px;
    border: 0;
}

div.multi-widget div.label {
    float: none;
    margin: 0px;
    padding: 0px;
}

div.multi-widget input.password-widget {
    width: 280px;
}

div.multi-widget input.text-widget {
    width: 280px;
}

div.multi-widget textarea.textarea-widget {
    width: 280px;
    height: 100px;
}

div.multi-widget div.buttons {
    width: 400px;
    padding: 0px 0px 10px 20px;
}


/* [ footer ]--------------------------------------------------------------- */

#footerContainer {
    width: 100%;
    font-size: 10px;
    text-align: center;
    background-color: #77746B;
}

#footerContainer a {
    color: #4F4D46;
}

#footerContainer ul {
    margin: 0px;
    padding: 25px 0px 25px 0px;
    list-style: none;
}

#footerContainer li {
    color: black;
    display: inline;
    margin: 0px;
    padding: 0px 10px 0px 10px;
}

.clear {
    height: 1px;
    clear: both;
    display: block;
    margin: 0px;
    padding: 0px;
    background-color: #77746B;
}
