[buildout]
parts =
    doc
    test
develop = .
allow-picked-versions = false

[doc]
recipe = zc.recipe.egg
eggs = gocept.package [doc]
       gocept.loginuser
scripts = doc

[test]
recipe = zc.recipe.egg
scripts = py.test=test
eggs =
    gocept.loginuser [test]
    pytest
    pytest-cov
    pytest-flake8
