@import url(../fonts/IRANSansWebFonts/css/fontiran.css);

body, a, input, span, select, p, td {
    font-family: 'IRANSans';
}
#header {
    /*background: #34a8b5;*/
}
#site-name img {
    width: 8%;
    margin-left: 2%;
}
.module caption {
    /*background: #4ad9d9;*/
}
#branding h1, #branding h1 a:link, #branding h1 a:visited, #header {
    color: #f59d03;
}
#branding {
    width: 50%;
    float: right;
}
#user-tools {
    float: left;
}
.dashboard #content {
    width: auto;
}
#changelist .actions select {
    color: rgb(156, 153, 153);
    /*font-size: 12px;*/
}
#changelist .actions .button, form .form-row p.datetime {
    font-family: 'IRANSans';
    color: #9899a3;
}
#changelist #toolbar form input[type="submit"] {
    padding: 0px 10px;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=number], textarea, select, .vTextField {
	font-family: 'IRANSans';
}

.defaultSkin table.mceLayout {
	width: 80% !important;
	height: 70vh !important;
}
.defaultSkin .mceIframeContainer {
	height: 100%;
}
.defaultSkin table.mceLayout tr.mceFirst td {
	direction: rtl;
}
.defaultSkin iframe {
	height: 100vh !important;
}
