body {
    font-family: Inter, Roboto, "Segoe UI", "Open Sans", Arial, sans-serif;
    margin: 0;
}

.container {
    color: #333;
    margin: 0 auto;
    max-width: 700px;
    padding: 50px 15px 0 95px;
}

.hidden {
    display: none;
}

.btn {
    background: transparent;
    border: 1px solid #d9d9d9;
    border-radius: 100px;
    color: #999;
    display: inline-block;
    font-size: 14px;
    height: 37px;
    line-height: 37px;
    min-width: 37px;
    outline: none;
    padding: 0 14px;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    border-color: #b3b3b3;
    color: #555;
}

.add {
    cursor: pointer;
    float: right;
}

.listing {
    line-height: 60px;
}

.listing-date {
    display: inline-block;
    font-size: 16px;
    line-height: inherit;
    width: 70px;
}

.listing-title,
.title {
    font-family: Inter, Roboto, "Segoe UI", "Open Sans", Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin: 16px 0;
    vertical-align: middle;
}

.listing-title {
    color: inherit;
    text-decoration: none;
}

.listing-title:hover {
    text-decoration: underline;
}

.status {
    color: #a9a9a9;
    height: 18px;
    text-align: right;
    width: 100%;
}

.title {
    background: transparent;
    border: 0;
    color: inherit;
    height: 49px;
    outline: 0;
    padding: 0;
}

.title.new-title {
    margin: 0;
}

textarea {
    border: 0;
    color: inherit;
    cursor: text;
    font-family: Cambria, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 26px;
    min-height: 70vh;
    outline: 0;
    padding: 0;
    resize: none;
    tab-size: 4;
    width: 100%;
}

.panel {
    position: fixed;
    top: 50px;
    left: 0;
    width: 82px;
}

.symbol {
    border: 1px solid #d9d9d9;
    color: #999;
    cursor: pointer;
    display: inline-block;
    margin-left: -1px;
    margin-bottom: -1px;
    padding: 2px 0 4px;
    text-align: center;
    width: 40px;
}

.symbol:hover {
    color: #222;
}

.symbol-value {
    color: #777;
    font-family: Cambria, "Times New Roman", Times, serif;
    font-size: 20px;
    height: 25px;
}

.symbol:hover .symbol-value {
    color: #111;
}

.symbol-code {
    color: inherit;
    font-size: 12px;
}