/*
 * Make "chosen" dropdown menus look more like cisco-ui-kit
 */
.cui .chosen-container.chosen-container-single {
    border: solid 1px #dfdfdf;
    background-color: #ffffff;
    min-height: 40px;
    padding-top: 8px;
}

.cui .chosen-container-single .chosen-single {
    width: 100%;
    color: #58585b;
    box-shadow: none;
    font-size: 14px;
}

.cui .chosen-container-active.chosen-with-drop .chosen-single {
    border: none;
    background: none;
}

.cui .chosen-container-single .chosen-single div b {
    display: none;
}

.cui a.chosen-single {
    color: #58585b;
    text-decoration: none;
}

.cui a.chosen-single:hover {
    color: #58585b;
    text-decoration: none;
}
