.chosen-choices {
    /*
     * Limit the maximum height of our 'chosen' YANG model selector so it
     * doesn't get excessively large if the user is working with a
     * large number of modules.
     */
    max-height: 100px;
    overflow-y: auto;
}

/* Icons and badges seen in a jstree */

.ystree-node {
    color: #049fd9;  /* Cisco UI Kit "Cisco Blue" */
}

.ystree-leaf {
    color: #abc233;  /* Cisco UI Kit "Sage Green" */
}

.ystree-root {
    color: #58585b;  /* Cisco UI Kit "Dark Gray 2" */
}

.ystree-placeholder {
    color: #e8ebf1;  /* Cisco UI Kit "Pale Gray 1" */
}

.ystree-definition {
    color: #9e9ea2;  /* Cisco UI Kit "Medium Gray 2" */
}

.ystree-not-supported {
    font-style: italic;
    color: #9e9ea2;  /* Cisco UI Kit "Medium Gray 2" */
    text-decoration: line-through darkred;
}

.ystree-status-deprecated {
    color: #ffcc00;  /* Cisco UI Kit "Status Yellow" */
}

.ystree-status-obsolete {
    color: #e2231a;  /* Cisco UI Kit "Status Red" */
}

/* Informational area */

.ysyangtree-info {
    white-space: pre-line;
}

.ysyangtree-info h4 {
    color: blue;
}

.ysyangtree-info p {
    text-align: justify;
}

.ysyangtree-info pre {
    white-space: pre-wrap;
    overflow-y: scroll;
}

.ysyangtree-info table {
    width: 100%;
}

.ysyangtree-info tr {
    border-top: 1px solid lightgray;
}

.ysyangtree-info th {
    vertical-align: top;
    text-transform: capitalize;
    white-space: nowrap;
    padding-right: 5px;
    text-align: left;
}

.ysyangtree-info td th {
    text-transform: none;
}

.tooltip-inner {
    text-align: left;
    word-break: keep-all;
    max-width: none;
    color: #000;
    background: #eee;
    border: 1px solid #ccc;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #eee;
}

.tooltip-inner th {
    vertical-align: top;
    padding-right: 5px;
    text-transform: capitalize;
}

/*
 * Avoid some undesired interactions with cisco-ui-kit and jquery-ui
 */
.jstree ul {
    padding-left: 0;
}

.cui ul.vakata-context {
    padding: 2px;
}

.cui .jstree-grid-cell {
    box-sizing: border-box;
}

.cui .ui-widget textarea {
    font-size: 1.4rem;
}

.cui a.jstree-clicked {
    background-color: lightblue;
}