[logs]
recipe = p01.recipe.setup:mkdir
path = parts/logs


[var]
recipe = zc.recipe.filestorage

[tmpstorage]
recipe = p01.recipe.setup:mkdir
path = parts/tmpstorage


[fsstorage]
recipe = p01.recipe.setup:mkdir
path = parts/fsstorage


[winservice]
recipe = p01.recipe.setup:winservice
name = MYPYPI Windows Service
description = MYPYPI Windows Service
runzope = app


[configure]
recipe = p01.recipe.setup:script
eggs = zc.buildout
method = main
module = configure
arguments = '${buildout:directory}'


###########################
# python2.6 required !!!!!!
###########################
[zodbupdate]
recipe = zc.recipe.egg
eggs = zodbupdate
       ${app:eggs}
