[buildout]
index = https://pypi.python.org/simple
find-links = https://pypi.python.org/simple/p01.buildouthttp
             https://pypi.python.org/simple/zc.buildout
             https://pypi.python.org/simple/setuptools
             https://pypi.python.org/simple/distribute
             https://pypi.python.org/simple/zope.app.catalog/
extensions = p01.buildouthttp
extends = base.cfg
          app.cfg
          i18n.cfg
          versions.cfg
          testing.cfg
versions = versions
develop = .
parts = logs
        var
        tmpstorage
        fsstorage
        test_tmpstorage
        test_fsstorage
        test coverage-test coverage-report
        checker
        i18n
        app
        winservice
        zodbupdate

allow-picked-versions = true
show-picked-versions = true
