[buildout]
versions = versions
develop = .

parts = test
        checker


[versions]
; for testing on windows
lxml = 3.6.0


[test]
recipe = zc.recipe.testrunner
eggs = j01.datepickerzebra [test]


[checker]
recipe = p01.recipe.setup:importchecker
path = src/j01/datepickerzebra
