# Copyright (C) 2008-2020 by the Free Software Foundation, Inc.
#
# This file is part of GNU Mailman.
#
# GNU Mailman is free software: you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free
# Software Foundation, either version 3 of the License, or (at your option)
# any later version.
#
# GNU Mailman is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along with
# GNU Mailman.  If not, see <https://www.gnu.org/licenses/>.

# This is the configuration file for the MHonArc archiver

[general]
# The base url for the archiver.  This is used to to calculate links to
# individual messages in the archive.
base_url: http://$hostname/

# The config directory for public-inbox - will be exported as PI_CONFIG when
# running public-inbox-mda (see the public_inbox man pages)
pi_config: /var/lib/publicinbox/.public-inbox/config

# The home directory passed to public-inbox (exported as HOME) - public-inbox
# will store its data in .public-inbox beneath this directory
pi_home: /var/lib/publicinbox/

# The PATH used when calling public-inbox - should contain the public-inbox-mda
# and git binaries.
pi_path: /usr/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl
